# Node.js
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Virtual environments
*venv
*.env
*.env.example
*.env.local
*.env.staging

# Python cache
**/__pycache__/
**/*.py[cod]
**/*.pyo

# VS Code settings
**/.vscode/

# Manim cache
**/media/
**/manim_render/
**/*.log
**/*.dvi
**/*.aux
**/*.svg
**/*.pdf

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# macOS system files
.DS_Store
